/* Set the page font */
* {
	font-family: 'Quicksand', sans-serif;
}

html, body {
	min-height: 100vh;
	padding: 0;
}

/* Reset Materialize parallax container height */
.parallax-container {
	height: 70vh;
}

/* Reset Materialize parallax style */
.parallax-container .parallax {
	position: fixed;
	height: inherit;
	overflow: hidden;
	transform: translateY(0);
	transition: transform 0.1s;
}

/* Reset Materialize parallax image style */
.parallax-container .parallax img {
	opacity: 1;	
}

/* Navbar */
.navbar {
	width: 100%;
	height: 55px;
	position: relative;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
	box-shadow: none;
	color: #575757;
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
}

/* Fixed Navbar */
.navbar.fixed {
	position: fixed !important;
	top: 0;
}

/* Shadow */
.shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* Reset the default li style */
.navbar ul li {
	min-height: 55px;
	float: left;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 5px;
	background-color: transparent;
}

/* Navbar ul li links */
ul li a {
	color: inherit;
}

/* li a non-hoverable */
ul li a:hover {
	background-color: transparent !important;
}

/* li hoverable */
ul.hover li:hover {
	background-color: #E7E7E7 !important;
}

/* Form */

/* Form input wrapper */
.input-field, .input-box {
	position: relative;
}

/* Adds a margin to separate sequencial fields */
[class*="input-"] + [class*="input-"] {
	margin-top: 20px;
}

/* Inputs */
.input-field input, .input-box input, .input-field textarea, .input-box textarea {
	height: 40px;
	width: 100%;
	font-family: inherit;
	outline: none;
	box-shadow: none !important;
	text-indent: 10px;
	color: #575757;
	font-weight: bold !important;
	transition: border 0.2s;
}

/* Input/Textarea underline */
.input-field input, .input-field textarea {
	border: none;
	border-bottom: 2px solid #A9A9A9;
}

/* Textarea size and resize */
[class*="input-"] textarea {
	text-indent: 0;
	padding: 10px;
	height: 50px;
	resize: none;
	overflow: hidden;
}

/* Input/Textarea underline focus */
.input-field input:focus, .input-field textarea:focus {
	border-bottom-color: #575757;
}

/* Input/Textarea boxed */
.input-box input, .input-box textarea {
	border-radius: 10px;
	border: 2px solid #A9A9A9;
}

/* Input/Textarea underline focus */
.input-box input:focus, .input-box textarea:focus {
	border-color: #575757;
}

/* Placeholder color */
::placeholder {
  color: #A9A9A9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #A9A9A9;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #A9A9A9;
}

/* Removes autofill yellow background */
input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

/* Button */
.input-field button {
	margin-top: 5px;
	height: 40px;
	width: 100%;
	min-width: none;
	font-family: inherit;
	outline: none;
	box-shadow: none !important;
	text-indent: 10px;
	transition: border 0.2s;
	color: #575757;
	border: 2px solid #575757;
	border-radius: 5px;
	font-weight: bold !important;
	cursor: pointer;
	transition: opacity 0.5s;
}

/* Button focus */
.input-field button:active {
	opacity: 0.6;
}


/* Modal */

/* Modal and overlayer */
.modal, .overlayer {
	display: none;
	opacity: 0;
	transition: opacity 0.2s linear;
	position: fixed;
}

/* Unactive modal */
.modal {
	display: none;
	opacity: 0;
	will-change: opacity;
	transform: scale(0.85, 0.85);
	transition: opacity 0.2s, transform 0.2s, top 0.1s;
	background-color: #FAFAFA;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	z-index: 10;
	overflow-y: auto;
	position: fixed;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	top: 10%;
	left: 0;
	min-height: 30vh;
	max-height: 40vh;
}

@media only screen and (min-width: 992px) {
	.modal {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		max-height: 50vh;
	}
}

/* Active modal */
.modal.active {
	transform: scale(1, 1);
	top: 15%;
	opacity: 1;
}

/* Image modal */
.modal.img {
	width: auto;
	height: auto;
	max-height: none;
	overflow: hidden;
	background-color: transparent !important;
	box-shadow: none;
	margin-right: 0;
	margin-left: 0;
	top: 0;
}

/* Overlayer */
.overlayer {
	background-color: black;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

/* Active overlayer */
.overlayer.active {
	opacity: 0.5;
}


/* Components */

/* Username */
.username {
	font-size: 15px;
}

/* Artistic name */
.artistic-name {
	font-weight: bold;
	font-size: 80px;
}

/* Slogar */
.slogan {
	font-size: 25px;
}

/* Name */
.name {
	font-weight: bold;
	font-size: 22px;
}

/* Bio */
.bio {
	text-align: left;
	font-size: 18px;
}

.profile.extra-large {
	height: 300px;
	width: 300px;
}

.profile.large {
	height: 250px;
	width: 250px;
}

/* Profile image */
.profile {
	/*position: absolute;*/
	/*transition: all 0.1s ;*/
}

.profile.small {
	height: 40px;
	width: 40px;
}

.navbar > .right {
	right: 20px;
}

/* Section style */
.section {
	padding: 0;
	min-height: 100vh;
}

.section .row {
	border-bottom: none !important;
}

.desktop {
	width: 350px;
	height: 200px;
	overflow: hidden;
}

.desktop .circle {
	margin-top: 5px;
	margin-left: 5px;
	height: 10px;
	width: 10px;
}

.desktop + .desktop {
	transform: translate(25%, -50%);
}


/* General styles */

/* Hide overflow content */
.overhide {
	overflow: hidden;
}

/* Rounded */
.round {
	border-radius: 3%;
}

/* Left rounded */
.round-left {
	border-radius: 3% 0 0 3%;
}

/* Top rounded */
.round-top {
	border-radius: 3% 3% 0 0;
}

/* Right rounded */
.round-right {
	border-radius: 0 3% 3% 0;
}

/* Bottom rounded */
.round-bottom {
	border-radius: 0 0 3% 3%;
}


/* Layout */

.h-100vh {
	height: 100vh;
}

/* Display flex container */
.flex {
	display: flex;
}

/* Left aligned content */
.flex.left-content {
	justify-content: flex-start;
}

/* Center aligned content */
.flex.center {
	justify-content: center;
}

/* Right aligned content */
.flex.right-content {
	justify-content: flex-end;
}

/* Content starts on container's top */
.flex.top {
	align-items: flex-start;
}

/* Vertical align content */
.flex.middle {
	align-items: center;
}

/* Content starts on container's bottom */
.flex.bottom {
	align-items: flex-end;
}

/* Left alignment */
.flex > .left {
	float: none;
	margin-right: auto;
}

/* Center alignment */
.flex > .center {
	margin-left: auto;
	margin-right: auto;
}

/* Right alignment */
.flex > .right {
	float: none;
	margin-left: auto;
}

/* Begin on top */
.flex > .top {
	align-self: flex-start;
}

/* Begin on middle */
.flex > .middle {
	align-self: center;
}

/* Begin on bottom */
.flex > .bottom {
	align-self: flex-end;
}

/* Divider */
.line {
	border-color: #FFF;
	opacity: 0.5;
	width: 100%;
}

/* Text between dividers */
.scratted {
	padding: 10px;
	margin-top: -1px;
	position: absolute;
	color: #A9A9A9;
}

/* Margin top */
.mt-25 {
	margin-top: 25px;
}

/* Fade out animation */
.fadeout {
	transform: translateX(0);
	opacity: 1;
	transition: transform 0.2s, opacity 0.5s;
	/*transition: transform 0.5s cubic-bezier(0.26,-0.31, 0.01, 1.07), opacity 0.5s;*/
}
