/* Set the page font */
* {
	font-family: 'Quicksand', sans-serif;
}

/* Reset Materialize parallax container height */
.parallax-container {
	height: 70vh;
}

/* Reset Materialize parallax style */
.parallax-container .parallax {
	position: fixed;
	height: inherit;
	overflow: hidden;
	transform: translateY(0);
	transition: transform 0.1s;
}

/* Reset Materialize parallax image style */
.parallax-container .parallax img {
	opacity: 1;	
}

/* Navbar */
.navbar {
	width: 100%;
	height: 55px;
	position: relative;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
	box-shadow: none;
	color: #575757;
	display: flex;
	align-items: center;
	padding: 0 10px 0 10px;
}

/* Fixed Navbar */
.navbar.fixed {
	position: fixed !important;
	top: 0;
}

/* Shadow */
.shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* Reset the default li style */
.navbar ul li {
	min-height: 55px;
	float: left;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 5px;
	background-color: transparent;
}

/* Navbar ul li links */
ul li a {
	color: inherit;
}

/* li a non-hoverable */
ul li a:hover {
	background-color: transparent !important;
}

/* li hoverable */
ul.hover li:hover {
	background-color: #E7E7E7 !important;
}

/* Components */

/* Profile image */
.profile {
	/*position: absolute;*/
	/*transition: all 0.1s ;*/
}

/* Name */
.name {
	font-weight: bold;
	font-size: 80px;
}

/* Slogar */
.slogan {
	font-size: 25px;
}

.profile.extra-large {
	height: 300px;
	width: 300px;
}

.profile.large {
	height: 250px;
	width: 250px;
}

.profile.small {
	height: 40px;
	width: 40px;
}

.navbar > .right {
	right: 20px;
}

/* Section style */
.section {
	padding: 0;
	min-height: 100vh;
}

/* Layout */

.h-100vh {
	height: 100vh;
}

/* Display flex container */
.flex {
	display: flex;
}

/* Left aligned content */
.flex.left-content {
	justify-content: flex-start;
}

/* Center aligned content */
.flex.center {
	justify-content: center;
}

/* Right aligned content */
.flex.right-content {
	justify-content: flex-end;
}

/* Content starts on container's top */
.flex.top {
	align-items: flex-start;
}

/* Vertical align content */
.flex.middle {
	align-items: center;
}

/* Content starts on container's bottom */
.flex.bottom {
	align-items: flex-end;
}

/* Left alignment */
.flex > .left {
	float: none;
	margin-right: auto;
}

/* Center alignment */
.flex > .center {
	margin-left: auto;
	margin-right: auto;
}

/* Right alignment */
.flex > .right {
	float: none;
	margin-left: auto;
}

/* Begin on top */
.flex > .top {
	align-self: flex-start;
}

/* Begin on middle */
.flex > .middle {
	align-self: center;
}

/* Begin on bottom */
.flex > .bottom {
	align-self: flex-end;
}